.container {
	width: 300px;
	border: solid 1px black;
	display: none;
}

.cell {
	width : 30px;
	height: 30px;
	background-color: #AAA;
	border-color: black;
	display: inline;
}

.row {
	height: 30px;
}

.clicked {
	color: #555;
}

.board {

}