.container {
	width: 300px;
	border: solid 1px black;
	display: none;
}

.cell {
	width : 28px;
	height: 28px;
	background-color: #AAA;
	border: solid 1px black;
	float: left;
}

.row {
	height: 32px;
}

.clicked {
	color: #555;
}

.board {

}