.minesweeper-game .container {
	width: 300px;
	border: solid 1px black;
	display: none;
}

.minesweeper-game .cell {
	width : 28px;
	height: 28px;
	background-color: #AAA;
	border: solid 1px black;
	float: left;
}

.minesweeper-game .row {
	height: 32px;
}

.minesweeper-game .clicked {
	color: #555;
}

.minesweeper-game .board {

}
